* {
    margin: 0;
    padding: 0;    
}
img {
    width: 180px;
    height: 180px;
}
body {
    font-family: Trebuchet MS, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}
.section2, 
.section4 {
    background-color: #FFF;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 220px 10px 120px;
}

.logo {
    display: flex;
}
.logo img {
    width: 300px;
    height: 58px;
}
.links ul{
    display: flex;
    list-style: none;
    gap: 18px;
}

.links ul a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.section1 {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 80px 200px 120px ;
    font-size: 18px;
    color: #E5E7EB;
}
.section1 .subsection1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.subsection1 h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}
.subsection1 button {
    width: 130px;
    background-color: #3882F6;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    border: 0;
    border-radius: 10px;
    padding: 10px;
}
.section1 .subsection2 img {
    width: 520px;
    height: 250px;
}

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 300px 120px;
    gap: 50px;
}

.subsection1 h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.section2 .subsection2 {
    display: flex;
    gap: 80px;
}

.cards {
    width: 160px;
}

.cards p {
    margin-top: 10px;
    text-align: center;
    color: #666
}

.section3 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: flex-end;
    padding: 150px 300px 100px;
}

.section3 .subsection1 {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

.section3 .subsection2 {
    font-size: 24px;
    font-weight: bolder;
}

.section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.subsection {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 50px 120px;
    gap: 120px;
    background-color: #3882F6;
    
}
.subsection h2 {
    color: #FFF;
}

.subsection p {
    color: #E5E7EB;
    font-size: 18px;
}

.subsection button {
    background-color: #3882F6;
    padding: 6px 35px;
    border: 2px solid #FFF;
    border-radius: 10px;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
}

.footer {
    text-align: center;
    font-size: 18px;
    color: #FFF;
    padding: 40px 0;
}